@using Geta.Resurs.Checkout
@model EPiServer.Reference.Commerce.Site.Features.Payment.Models.ResursBankCheckoutViewModel
@Html.HiddenFor(model => model.PaymentMethod.PaymentMethodId)

<div>
    Using Resurs Bank checkout payment
    <div class="payment-method__container">
        <h3 class="payment-method__title">Choose available payment</h3>
        <div class="payment-method__options">
            @{
                <input type="hidden" name="ResursPaymentMethod" />
                <input type="hidden" name="GovernmentId" />
                <input type="hidden" name="MinLimit" value="0" />
                <input type="hidden" name="MaxLimit" value="0" />

                foreach (var method in Model.ResursBankPaymentMethods)
                {
                    switch (method.Id)
                    {
                        case ResursPaymentMethodType.CARD:
                            <text>
                                <div class="payment-method__option-item">
                                    <div class="radio__container">
                                        <input class="radio__input" type="radio" id="method-payment-1" name="method-payment" value="@method.Id" />
                                        <label class="radio__label" for="method-payment-1">
                                            <strong>Kort</strong> <br />
                                            @Html.Translate("/resursbank/card/description")
                                        </label>
                                    </div>
                                    <div class="payment-method__detail-container" data-min="@method.MinLimitField" data-max="@method.MaxLimitField">
                                        <div class="textbox__container">
                                            <span class="textbox__label">Kortnummer</span>
                                            <input name="CardNumber" class="textbox__input" type="text" />
                                        </div>
                                        <div class="textbox__container">
                                            <span class="textbox__label">Personnummer</span>
                                            <input class="textbox__input" name="govid" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </text>
                            break;
                        case ResursPaymentMethodType.NEWCARD:
                            <text>
                                <div class="payment-method__option-item">
                                    <div class="radio__container">
                                        <input class="radio__input" type="radio" id="method-payment-2" name="method-payment" value="@method.Id" />
                                        <label class="radio__label" for="method-payment-2">
                                            <strong>Nytt kort/konto</strong> <br />
                                            @Html.Translate("/resursbank/newcard/description")
                                        </label>
                                    </div>
                                    <div class="payment-method__detail-container" data-min="@method.MinLimitField" data-max="@method.MaxLimitField">
                                        <div class="selectbox__container">
                                            <span class="selectbox__label">Ønsket makskreditt</span>
                                            <select name="AmountForNewCard" class="selectbox__input">
                                                <option value="10000">10000</option>
                                                <option value="15000">15000</option>
                                                <option value="20000">20000</option>
                                            </select>
                                        </div>

                                        <div class="textbox__container">
                                            <span class="textbox__label">Personnummer</span>
                                            <input class="textbox__input" name="govid" type="text" />
                                        </div>
                                        @if (method.LegalInfoLinksField != null)
                                        {
                                            <div class="textbox__container">
                                                <a href="@method.LegalInfoLinksField[0].Url" target="_blank">@method.LegalInfoLinksField[0].EndUserDescription</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </text>
                            break;
                        case ResursPaymentMethodType.INVOICE:
                            <text>
                                <div class="payment-method__option-item">
                                    <div class="radio__container">
                                        <input class="radio__input" type="radio" id="method-payment-3" name="method-payment" value="@method.Id" />
                                        <label class="radio__label" for="method-payment-3">
                                            <strong>Faktura Resurs Bank</strong> <br />
                                            @Html.Translate("/resursbank/invoice/description")
                                        </label>
                                    </div>
                                    <div class="payment-method__detail-container" data-min="@method.MinLimitField" data-max="@method.MaxLimitField">
                                        <input type="hidden" name="DeliveryType" value="EMAIL" />
                                        <div class="textbox__container">
                                            <span class="textbox__label">Personnummer</span>
                                            <input class="textbox__input" name="govid" type="text" />
                                        </div>
                                        @if (method.LegalInfoLinksField != null)
                                        {
                                            <div class="textbox__container">
                                                <a href="@method.LegalInfoLinksField[0].Url" target="_blank">@method.LegalInfoLinksField[0].EndUserDescription</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </text>
                            break;
                        case ResursPaymentMethodType.PARTPAYMENT:
                            <text>
                                <div class="payment-method__option-item">
                                    <div class="radio__container">
                                        <input class="radio__input" type="radio" id="method-payment-4" name="method-payment" value="@method.Id" />
                                        <label class="radio__label" for="method-payment-4">
                                            <strong>Delbetaling Resurs Bank</strong> <br />
                                            @Html.Translate("/resursbank/partpayment/description")
                                        </label>
                                    </div>
                                    <div class="payment-method__detail-container" data-min="@method.MinLimitField" data-max="@method.MaxLimitField">
                                        <div class="textbox__container">
                                            <span class="textbox__label">Personnummer</span>
                                            <input class="textbox__input" name="govid" type="text" />
                                        </div>
                                        @if (method.LegalInfoLinksField != null)
                                        {
                                            <div class="textbox__container">
                                                <a href="@method.LegalInfoLinksField[0].Url" target="_blank">@method.LegalInfoLinksField[0].EndUserDescription</a>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </text>
                            break;
                    }
                }

                <div class="checkbox__container">
                    <input class="checkbox__input" type="checkbox" id="checkbox1" />
                    <label class="checkbox__label" for="checkbox1">Jeg godkjenner kjøpsvilkårene</label>
                </div>
            }
        </div>
    </div>
</div>