@using Geta.Resurs.Checkout
@model EPiServer.Reference.Commerce.Site.Features.Payment.Models.ResursBankCheckoutViewModel
@Html.HiddenFor(model => model.PaymentMethod.PaymentMethodId)
@{
    var paymentMethods = Model.ResursBankPaymentMethods;

}

<div>
    Using Resurs Bank checkout payment
    <div class="payment-method__container">
        <h3 class="payment-method__title">Choose available payment</h3>
        <div class="payment-method__options">
            
            @{
                <input type="hidden" name="ResursPaymentMethod"/>
				<input type="hidden" name="GovernmentId" />
                <input type="hidden" name="MinLimit" value="0"/>
                <input type="hidden" name="MaxLimit" value="0"/>

                foreach (var method in Model.ResursBankPaymentMethods)
                {
                    switch (method.Id)
                    {
                        case ResursPaymentMethodType.CARD:
                            <text>
                                <div class="payment-method__option-item">
                                    <div class="radio__container">
                                        <input class="radio__input" type="radio" id="method-payment-1" name="method-payment" value="@method.Id"/>
                                        <label class="radio__label" for="method-payment-1">Customer Card</label>
                                    </div>
                                    <div class="payment-method__detail-container" data-min="@method.MinLimitField" data-max="@method.MaxLimitField">
                                        <div class="textbox__container">
                                            <span class="textbox__label">Kortnummer</span>
                                            <input name="CardNumber" class="textbox__input" type="text"/>
                                        </div>
                                        <div class="textbox__container">
                                            <span class="textbox__label">Personnummer</span>
                                            <input class="textbox__input" name="govid" type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </text>
                            break;
                        case ResursPaymentMethodType.NEWCARD:
                            <text>
                                <div class="payment-method__option-item">
                                    <div class="radio__container">
                                        <input class="radio__input" type="radio" id="method-payment-2" name="method-payment" value="@method.Id"/>
                                        <label class="radio__label" for="method-payment-2">New Customer Card (credit application)</label>
                                    </div>
                                    <div class="payment-method__detail-container" data-min="@method.MinLimitField" data-max="@method.MaxLimitField">
                                        <div class="selectbox__container">
                                            <span class="selectbox__label">Max Credit</span>
                                            <select name="AmountForNewCard" class="selectbox__input">
                                                <option value="10000">10.000</option>
                                                <option value="15000">15.000</option>
                                                <option value="20000">20.000</option>
                                            </select>
                                        </div>
                                        <div class="textbox__container">
                                            <span class="textbox__label">Personnummer</span>
                                            <input class="textbox__input" name="govid" type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </text>
                            break;
                        case ResursPaymentMethodType.INVOICE:
                            <text>
                                <div class="payment-method__option-item">
                                    <div class="radio__container">
                                        <input class="radio__input" type="radio" id="method-payment-3" name="method-payment" value="@method.Id"/>
                                        <label class="radio__label" for="method-payment-3">Invoice (by email) 30-60 days credit</label>
                                    </div>
                                    <div class="payment-method__detail-container" data-min="@method.MinLimitField" data-max="@method.MaxLimitField">
                                        <div class="selectbox__container">
                                            <span class="selectbox__label">Invoice delivery type</span>
                                            <select name="DeliveryType" class="selectbox__input">
                                                <option value="EMAIL">EMAIL</option>
                                                <option value="POSTAL">POSTAL</option>
                                                <option value="NONE">NONE</option>
                                            </select>
                                        </div>
                                        <div class="checkbox__container">
                                            <input class="checkbox__input" type="checkbox" id="checkbox1"/>
                                            <label class="checkbox__label" for="checkbox1">Approve terms and condition</label>
                                        </div>
                                        <div class="textbox__container">
                                            <span class="textbox__label">Personnummer</span>
                                            <input class="textbox__input" name="govid" type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </text>
                            break;
                        case ResursPaymentMethodType.PARTPAYMENT:
                            <text>
                                <div class="payment-method__option-item">
                                    <div class="radio__container">
                                        <input class="radio__input" type="radio" id="method-payment-4" name="method-payment" value="@method.Id"/>
                                        <label class="radio__label" for="method-payment-4">
                                            Down payment (or invoice in post boc)<br/>
                                            Until 12 months down payment without interest, or longer period with low interest
                                        </label>
                                    </div>
                                    <div class="payment-method__detail-container" data-min="@method.MinLimitField" data-max="@method.MaxLimitField">
                                        <div class="checkbox__container">
                                            <input class="checkbox__input" type="checkbox" id="checkbox1"/>
                                            <label class="checkbox__label" for="checkbox1">Approve terms and condition</label>
                                        </div>
                                        <div class="textbox__container">
                                            <span class="textbox__label">Personnummer</span>
                                            <input class="textbox__input" name="govid" type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </text>
                            break;
                    }

                }


            }







        </div>
    </div>
</div>
