@using Geta.Netaxept.Checkout
@model Mediachase.Commerce.Orders.OtherPayment

<div class="quicksilver-well">
    <h4>Payment details</h4>
    <p> Netaxept Confirmation</p>

    <p>
        Card information payment method: <strong>@Model.GetString(NetaxeptConstants.CardInformationPaymentMethodField)</strong> <br/>
        Card information expiry date: <strong>@Model.GetString(NetaxeptConstants.CardInformationExpiryDateField)</strong> <br />
        Card information issuer id: <strong>@Model.GetString(NetaxeptConstants.CardInformationIssuerIdField)</strong> <br />
        Card information issuer: <strong>@Model.GetString(NetaxeptConstants.CardInformationIssuerField)</strong> <br />
        Card information issuer country: <strong>@Model.GetString(NetaxeptConstants.CardInformationIssuerCountryField)</strong> <br />
        Card information masked pan: <strong>@Model.GetString(NetaxeptConstants.CardInformationMaskedPanField)</strong> <br />
    </p>
    
</div>